<div class="navbar-collapse collapse">
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Search term" class="form-control" ng-model="query">
    </div>
  </form>
</div>

<p>Latest hash: {{latesthash}}</p>

<!-- Carousel
================================================== -->
<div style="height: 500px">
  <carousel>
    <slide ng-repeat="block in blocks | filter: query" active="slide.active">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{block.name}}}">
      <div class="carousel-caption">
        <h1>{{block.name}}</h1>
        <p>{{block.hash}}</p>
        <p><a class="btn btn-lg btn-primary" href="#/block-list/{{block.name}}" role="button">Details</a></p>
      </div>
    </slide>
  </carousel>
</div>